---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import PostList from "../../components/PostList.astro";

const posts = (await getCollection("blog", ({ data }) => !data.draft)).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
---

<Layout title="Blog" desc={`Random thoughts, opinions, and reflections`}>
  <section class="space-y-8">
    <h2 class="text-2xl font-semibold">Random logs</h2>
    <p>Thoughts, opinions, and reflections on random topics.</p>
    <PostList posts={posts} collection="blog" />
  </section>
</Layout>
