---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Now" desc="What I'm doing right now!">
  <section class="space-y-8">
    <h1 class="text-2xl font-semibold">What I’m doing now!</h1>
    <p class="prose max-w-none">
      Here I keep an up-to-date list of the things I'm focusing on and what
          I'm doing. Inspired by{" "}
          <a
        href="https://nownownow.com/about"
        target="_blank"
        rel="noopener noreferrer"
      >
        nownownow.com
          </a>
          .
    </p>
  </section>
</Layout>
