---
import { formatDate } from "../lib/date";

const { posts, collection } = Astro.props;
---

<ul class="m-0 list-none space-y-1 p-0">
  {
    posts.map((post: any) => (
      <li>
        <a
          href={`/${post.collection || collection}/${post.id}/`}
          class="flex flex-col gap-1 py-2 text-base transition-colors duration-200 text-text-main hover:text-theme-link sm:flex-row sm:items-center sm:justify-between sm:gap-4"
        >
          <span>{post.data.title}</span>
          <time datetime={post.data.pubDate.toISOString()} class="tabular-nums text-sm opacity-70">
            {formatDate(post.data.pubDate)}
          </time>
        </a>
      </li>
    ))
  }
</ul>
